@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color: #757575;
  --background-color: #fff;
}


body {
  color: var(--color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-shadow {
  box-shadow: 0 0px 10px rgba(71, 71, 71, .2);
}


.parallaxContainer {
  position: relative;
  width: 100%;
  height: 390px;
  background-image: url('/assets/counter/counter-banner.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  width: 100%;
  position: relative;
  background: rgba(100, 89, 89, 0.5);
  padding: 20px;
  height: 390px;
  color: white;
}

@media (max-width: 768px) {
  .parallaxContainer {
    height: 700px;
  }

  .overlay {
    height: 700px;
  }
}